name: Docker Image CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: login docker hub
      run: docker login --username=${{ secrets.DOCKERUSER }} registry.cn-hangzhou.aliyuncs.com --password=${{ secrets.DOCKERPASSWD }} 
           bash buildDockerImage.sh
